---
import Layout from '@/layout';
import Generator from '@/components/Generator.jsx';
---

<Layout title='jpaddeo'>
  <div class='flex items-center justify-center h-screen'>
    <Generator client:visible />
  </div>
</Layout>
